extends template

block append resources
	link(rel="stylesheet", href="/css/login.css")

block content
	section.pure-g
		.pure-u-1-12.pure-u-md-1-3
		.pure-u-5-6.pure-u-md-1-3
			if loginFail
				aside
					p Your username or password is incorrect
			h1 Team Login
			form.pure-form(method="post")
				fieldset.pure-group
					input.pure-input-1-2(type="text", placeholder="Username", required=true, name="username")
					input.pure-input-1-2(type="password", placeholder="Password", required=true, name="password")
				button.pure-button.pure-input-1-2.pure-button-primary(type="submit") Log in
		.pure-u-1-12.pure-u-md-1-3