doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title GFA Dragonoids

		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="Greens Farms Academy Dragonoids Robotics Team")
		meta(name="keywords", content="Dragonoids, Greens Farms Academy, robotics, 4286, Greens Farms, GFA")
		meta(name="author", content="Ryan Petschek")

		// Redirect
		meta(http-equiv="refresh", content="3;URL='/blog'")

		style.
			@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
			aside {
				font-family: "Montserrat";
				background: #FF4136;
				padding: 0.1em 1em;
				border-radius: 3px;
				color: #fff;
				font-size: 1.125em;
				text-align: center;
			}
			aside.success {
				background: #28b62c;
			}
	body
		aside(class=passwordSuccess)
			p= passwordMessage
			p You'll be redirected in 3 seconds