doctype html
html
	head(lang="en")
		meta(charset="utf-8")
		if title
			title= title + " - Dragonoids"
		else
			title Dragonoids Team 4286
		// Bootstrap + Paper theme from Bootswatch
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		script(src="//code.jquery.com/jquery-2.1.1.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

		block resources
			link(rel="stylesheet", href="/css/main.css")
	body
		block header
			.navbar.navbar-default.navbar-fixed-top.navbar-inverse
				.container
					.navbar-header
						a.navbar-brand(href="/") GFA Dragonoids Team 4286
						button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-main")
							span.icon-bar
							span.icon-bar
					#navbar-main.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href="#") A link
							li
								a(href="#") Help
		block content