doctype html
html
	head(lang="en")
		meta(charset="utf-8")
		if title
			title= title + " - Dragonoids"
		else
			title GFA Dragonoids
		
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="Greens Farms Academy Dragonoids Robotics Team")
		meta(name="keywords", content="Dragonoids, Greens Farms Academy, robotics, 4286, Greens Farms, GFA")
		meta(name="author", content="Ryan Petschek")
		
		// Pure
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
		// ^ Not offered over https connections
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		// IE Nonsense
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css")
		<!--<![endif]-->

		block resources
			link(rel="stylesheet", href="/css/main.css")
	body
		block header
			header.header
				.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
					a.pure-menu-heading(href="/") GFA Dragonoids
					ul
						li.pure-menu-selected: a(href="/") Home
						li: a(href="/blog") Blog
		block prewrapper
		.content-wrapper#main
			block content
			footer.footer.l-box.is-center
				block footer

		//- Compiled on stuff
		!="<!-- Compiled on " + new Date().toString() + " -->"